body {
  font-family: sans-serif;
  padding: 0 25px;
  background-color: #060514;
  color: white;
}
.name {
  font-size: 45px;
  text-align: center;
  color: #17D9CD;
}
.bio{
  text-align: center;
}
.subtitle {
  background: #060514;
  color: #17D9CD;
  padding: 15px 15px;
  text-align: center;
}
img#main-img {
  border-radius: 150px;
}
.flex-item {
  text-align: center;
  margin-bottom: 20px;
}
.content h3 {
  display: inline-block;
}
.content a {
  color: wheat;
}

.flex-container {
  padding: 25px;
  display: flex;
  flex-wrap: row wrap;
}

.content {
  flex-grow: 1;
  line-height: 1.6;
  margin-left: 25px;
}

.flex-container img {
  border-radius: 10px;
  margin: 20px 20px;
}
.content h2 {
  font-weight: bolder;
  font-size: 26px;
  display: inline-block;
}
.content h4 {
  font-style: italic;
  color: #17D9CD;
  margin: 0;
  font-size: 20px;
}
.content p {
  float: right;
  margin: 41px;
  font-size: 16px;
  font-style: italic;
  color: #17D9CD;
}